<div class="d-flex flex-column min-vh-100">
    
    <header class="navbar-wrapper sticky-top">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid navbar-container">
                
                <a [routerLink]="['/catalogue']" class="navbar-brand">
                    <span class="text-green fw-bold fs-4">
                        <i class='bx bx-calendar-check'></i>
                        <span>ResaChap</span>
                    </span>
                </a>

                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <i class="bx bx-menu"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    
                    <ul class="navbar-nav me-auto"> 
                        <li class="nav-item">
                            <a 
                                [routerLink]="['/catalogue']"
                                routerLinkActive="active-link"
                                class="nav-link"
                            >
                                <i class='bx bx-collection'></i>
                                <span>Catalogue</span>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a 
                                [routerLink]="['/resources/mine']"
                                routerLinkActive="active-link"
                                class="nav-link"
                            >
                                <i class='bx bx-box'></i>
                                <span>Mes Ressources</span>
                            </a>
                        </li>
                        
                        <li ngbDropdown class="nav-item dropdown">
                            <a 
                                class="nav-link dropdown-toggle"
                                id="reservationsDropdown"
                                ngbDropdownToggle
                            >
                                <i class='bx bx-calendar'></i>
                                <span>Réservations</span>
                                <i class='bx bx-chevron-down chevron-icon'></i>
                            </a>
                            
                            <div 
                                ngbDropdownMenu 
                                aria-labelledby="reservationsDropdown" 
                                class="shadow border-0 rounded-3"
                            >
                                <a 
                                    [routerLink]="['/reservations/made']" 
                                    ngbDropdownItem
                                    class="dropdown-item"
                                >
                                    <i class='bx bx-book-bookmark me-2'></i>
                                    <span>Faites par moi</span>
                                </a>
                                <a 
                                    [routerLink]="['/reservations/received']" 
                                    ngbDropdownItem
                                    class="dropdown-item"
                                >
                                    <i class='bx bx-list-check me-2'></i>
                                    <span>Reçues</span>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <div class="navbar-actions">
                        <button 
                            (click)="onLogout()" 
                            class="btn btn-sm btn-outline-danger"
                        >
                            <i class='bx bx-log-out me-1'></i>
                            <span>Déconnexion</span>
                        </button>
                    </div>
                    
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1">
        <router-outlet></router-outlet>
    </main>
</div>