<ng-template #modalContentContainer></ng-template> 
<ng-container *ngIf="modalContent()">
    <div 
    class="fixed inset-0 bg-gray-900 bg-opacity-50 transition-opacity z-40" 
    (click)="modalService.close()"
  ></div>

    <div 
    class="fixed inset-0 z-50 overflow-y-auto"
    aria-labelledby="modal-title" role="dialog" aria-modal="true"
  >
    <div class="flex items-start justify-center min-h-full p-4 md:p-10">
      
            <div 
        class="bg-white rounded-xl shadow-2xl transform transition-all w-full max-w-lg mt-10"
        (click)="$event.stopPropagation()"
      >
              </div>

            <button 
          (click)="modalService.close()" 
          class="absolute top-4 right-4 text-gray-400 hover:text-gray-600 transition z-50"
          aria-label="Fermer"
      >
          <i class='bx bx-x text-2xl'></i>
      </button>
    </div>
  </div>
</ng-container>